
<div class="container">
  <h1>Restaurants</h1>

  <form action="/" method="get" accept-charset="UTF-8" >
    <input id="location" name="location" type="text" />
    <input  type="submit" value="submit" />
  </form>

  <div class="row">

    <% @restaurants.each do |restaurant| %>

    <div class="col-sm-4 mb-2">

      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= link_to restaurant.name, restaurant_path(id:restaurant.name.parameterize) %></h4>
          <p class="card-text">
            <ul>
              <% restaurant.categories.first(5).each do |category| %>
              <li><%= category.name %></li>
              <% end %>
            </ul>
          </p>
        </div>
      </div>
    </div>

    <% end %>

  </div>

</div>


