<h1>Restaurants</h1>
<input type="text" value="" name="location" id ="location" onkeypress="myFunction()" />

<ul>
  <% @restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(id:restaurant.name.parameterize) %></li>
  <ol>
    <% restaurant.categories.each do |category| %>
    <li><%= category.name %></li>
    <% end %>

    </ol>

    <% end %>
  </ul>
  <script type="text/javascript">
  var x = document.getElementById("location").value;
    function myFunction() {
      $.ajax({
        url: "/",
        type: "get",
        data: {location: x},
        success: function(data) { var categories = data;
          alert(categories)
        },
        error: function(data) {}
      })
}

    
  </script>
