<h1>Articles</h1>

<ul>
  <% @categories.each do |article| %>
  <li><%= article.name %></li>
  <ol>
    <% Item.where(category_id: article.id).each do |item| %>

    <li><%= item.name %></li>
    <li><%= item.price %></li>
    <li><%= item.description %></li>
    <% end %>

  </ol>

  <% end %>
</ul>
