<form action="/get_data" method="post" accept-charset="UTF-8" >
  <label for="search_link">Search for:</label>
  <input id="search_link" name="search_link" type="text" />
  <input  type="submit" value="search_link" data-disable-with="Search" />
</form>