<form action="/get_data" method="post" accept-charset="UTF-8" >
  <div class="container">
    <label for="search_link">Insert a items related link to extract the data</label>
    <br>
    <input id="search_link" name="search_link" type="text" />
    <input  type="submit" value="submit" data-disable-with="Search" />
  </div>
</form>
